<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<springProfile name="dev">
		<logger name="com.mrs.service" level="DEBUG" additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
	<springProfile name="production">
		<logger name="com.mrs.service" level="WARN" additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>