<!DOCTYPE HTML>
<!-- <html xmlns="http://www.ymc.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
	<head>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.ymc-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.ymc-half img:hover{opacity:1}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"/>
<link rel="stylesheet" href="/resources/css/style_new.css" />
</head>
<body>
<nav class="ymc-sidenav ymc-red ymc-collapse ymc-top ymc-large ymc-padding" style="z-index:3;width:300px;font-weight:bold" id="mySidenav"><br/>
  <a href="javascript:void(0)" onclick="ymc_close()" class="ymc-padding-xlarge ymc-hide-large ymc-display-topleft ymc-hover-white" style="width:100%;font-size:22px">Close Menu</a>
  <div class="ymc-container">
    <h3 class="ymc-padding-64"><b>YMC<br/>INIDA</b></h3>
  </div>
  

  <a th:href="@{/home/empList}" class="ymc-padding ymc-hover-white">Home</a> 
  <a th:href="@{/home/searchEmp}" class="ymc-padding ymc-hover-white">Search Employee</a> 
  <a th:href="@{/home/createEmp}" class="ymc-padding ymc-hover-white">Create Employee</a> 
  <a th:href="@{/home/empList}" class="ymc-padding ymc-hover-white">Employee List</a> 
  <a href="#packages"  class="ymc-padding ymc-hover-white">About</a> 
  <a href="#contact"  class="ymc-padding ymc-hover-white">Contact</a>
</nav>
</body>
</html> -->

<link rel="stylesheet" href="/resources/css/style_new.css" />


   <a th:href="@{/home/empList}" class="ymc-padding ymc-hover-white">Home</a> 
  <a th:href="@{/home/searchEmp}" class="ymc-padding ymc-hover-white">Search Employee</a> 
  <a th:href="@{/home/createEmp}" class="ymc-padding ymc-hover-white">Create Employee</a> 
  <a th:href="@{/home/empList}" class="ymc-padding ymc-hover-white">Employee List</a> 
  <a href="#packages"  class="ymc-padding ymc-hover-white">About</a> 
  <a href="#contact"  class="ymc-padding ymc-hover-white">Contact</a>
