<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"/>

<title>MSRS|Create Emp</title>
<link rel="stylesheet" href="/resources/css/style_new.css" />
</head>



<body style="margin-bottom:50px;">
	
	
<!-- Sidenav/menu -->
<nav class="ymc-sidenav ymc-red ymc-collapse ymc-top ymc-large ymc-padding" style="z-index:3;width:300px;font-weight:bold" id="mySidenav"><br/>
  <a href="javascript:void(0)" onclick="ymc_close()" class="ymc-padding-xlarge ymc-hide-large ymc-display-topleft ymc-hover-white" style="width:100%;font-size:22px">Close Menu</a>
  <div class="ymc-container">
    <h3 class="ymc-padding-64"><b>YMC<br/>INIDA</b></h3>
  </div>
  

  <a th:href="@{/home/empList}" class="ymc-padding ymc-hover-white">Home</a> 
  <a th:href="@{/home/searchEmp}" class="ymc-padding ymc-hover-white">Search Employee</a> 
  <a th:href="@{/home/createEmp}" class="ymc-padding ymc-hover-white">Create Employee</a> 
  <a th:href="@{/home/empList}" class="ymc-padding ymc-hover-white">Employee List</a> 
  <a href="#packages"  class="ymc-padding ymc-hover-white">About</a> 
  <a href="#contact"  class="ymc-padding ymc-hover-white">Contact</a>
</nav>
<!-- Top menu on small screens -->
<header class="ymc-container ymc-top ymc-hide-large ymc-red ymc-xlarge ymc-padding">
  <a href="javascript:void(0)" class="ymc-btn ymc-red ymc-border ymc-border-white ymc-margin-right" onclick="ymc_open()">☰</a>
  <span>YMC INIDA PVT LTD</span>
</header>

<div class="ymc-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="ymc-container" style="margin-top:20px" id="showcase">
    <h1 class="ymc-jumbo"><b>Employee Insurance</b></h1>
   
  </div>
<h1 class="ymc-xxxlarge ymc-text-red"><b>Create Employee</b></h1>
	<form action="#" th:action="@{/home/createEmp}" th:object="${emp}" method="post">
		<div th:switch="*{empid}">
		<p th:case="'0'"></p>
		<p th:case="*">
		<input type="hidden" th:field="*{empid}" th:value="*{empid}" />
		<input type="hidden" th:field="*{createdtime}" th:value="*{createdtime}" />
		</p>
		</div>
		<table>
        <tr><td>First Name</td><td> <input type="text" th:field="*{firstname}" /></td></tr>
        <tr><td>Last Name</td><td><input type="text" th:field="*{lastname}" /></td></tr>
        <tr><td>Gender </td><td><select  th:field="*{gender}"><option value="0">Male</option><option value="1">Female</option></select></td></tr>
        <tr><td>Date of Birthday</td><td><input class="date" type="date" name="dob" th:value="*{dob}" /></td></tr>
        <tr><td>phone</td><td><input type="text" th:field="*{phone}" /></td></tr>
        <tr><td>email</td><td><input type="text" th:field="*{email}" /></td></tr>
        <tr><td>Aathar</td><td><input type="text" th:field="*{aatharnumber}" /></td></tr>
        <tr><td>PanCard</td><td><input type="text" th:field="*{pancard}" /></td></tr>
        <tr><td>Date of Joining</td><td><input type="date" th:field="*{doj}" /></td></tr>
        <tr><td>Date of Releaving</td><td><input type="date" th:field="*{dor}" /></td></tr>
        <tr><td>Address</td></tr>
        <tr><td>Home/Plat/Street</td><td><input type="text" th:field="*{adress1}" /></td></tr>
        <tr><td>City</td><td><input type="text" th:field="*{adress2}" /></td></tr>
        <tr><td>District</td><td><input type="text" th:field="*{district}" /></td></tr>
        <tr><td>State</td><td><input type="text" th:field="*{state}" /></td></tr>
        <tr><td>Pincode</td><td><input type="text" th:field="*{pincode}" /></td></tr>
	
        <tr><td colspan="2"><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></td></tr>
        </table>
    </form>
    </div>
</body>
<div id="footer" class="footercss" >Powered by YMC</div>

</html>