<section th:fragment="menu">

	<a th:href="@{/home/empList}" class="ymc-padding ymc-hover-white">Home</a>
	<br /> <a th:href="@{/home/searchEmp}"
		class="ymc-padding ymc-hover-white">Search Employee</a> <br /> <a
		th:href="@{/home/createEmp}" class="ymc-padding ymc-hover-white">Create
		Employee</a> <br /> <a th:href="@{/home/empList}"
		class="ymc-padding ymc-hover-white">Employee List</a> <br /> <a
		href="#packages" class="ymc-padding ymc-hover-white">About</a> <br />
	<a href="#contact" class="ymc-padding ymc-hover-white">Contact</a>
</section>